@use '../utils' as *;

/*----------------------------------------*/
/*  tagify CSS START
/*----------------------------------------*/

.tagify__wrapper {
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.tagify__wrapper {
    label {
        margin-bottom: 5px;
        display: inline-block;
    }
}

/* Suggestions items */
.tagify__dropdown.users-list .tagify__dropdown__item {
    padding: .5em .7em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 1em;
    grid-template-areas: "avatar name"
        "avatar email";
}

.tagify__dropdown.users-list .tagify__dropdown__item:hover .tagify__dropdown__item__avatar-wrap {
    transform: scale(1);
}

.tagify__dropdown.users-list .tagify__dropdown__item__avatar-wrap {
    grid-area: avatar;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--clr-theme-primary);
    transition: .1s ease-out;
}

.tagify__dropdown.users-list img {
    width: 100%;
    vertical-align: top;
}

.tagify__dropdown.users-list strong {
    grid-area: name;
    width: 100%;
    align-self: center;
}

.tagify__dropdown.users-list span {
    grid-area: email;
    width: 100%;
    font-size: .9em;
    opacity: .6;
}

.tagify__dropdown.users-list .tagify__dropdown__item__addAll {
    border-bottom: 1px solid #DDD;
    gap: 0;
    display: block;
}

.tagify__tag {
    font-size: 14px;
}

/* Tags items */
.user__list {
    .tagify__tag {
        white-space: nowrap;
    }

    .tagify__tag:hover .tagify__tag__avatar-wrap {
        transform: scale(1) translateX(0);
    }

    .tagify__tag .tagify__tag__avatar-wrap {
        width: 16px;
        height: 16px;
        white-space: normal;
        border-radius: 50%;
        background: silver;
        margin-right: 5px;
        transition: .12s ease-out;
    }

    .tagify__tag img {
        width: 100%;
        vertical-align: top;
        pointer-events: none;
    }

    .tags-look .tagify__dropdown__item {
        display: inline-block;
        vertical-align: middle;
        border-radius: 3px;
        padding: .3em .5em;
        border: 1px solid var(--clr-border-1);
        background: var(--clr-common-white);
        margin: .2em;
        font-size: .85em;
        color: var(--clr-common-black);
        transition: 0s;
    }

    .tags-look .tagify__dropdown__item--active {
        color: var(--clr-common-black);
    }

    .tags-look .tagify__dropdown__item:hover {
        background: rgba($color: $warning, $alpha: .08);
        border-color: var(--clr-action-warning);
    }

    .tags-look .tagify__dropdown__item--hidden {
        max-width: 0;
        max-height: initial;
        padding: .3em 0;
        margin: .2em 0;
        white-space: nowrap;
        text-indent: -20px;
        border: 0;
    }
}

.tagify__tag>div>* {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    min-width: var(--tag--min-width);
    max-width: var(--tag--max-width);
    transition: .8s ease, .1s color;
}

.tagify__tag:hover .tagify__tag__avatar-wrap {
    transform: scale(1) translateX(0);
}

.tagify__tag:focus div::before,
.tagify__tag:hover:not([readonly]) div::before {
    --tag-bg-inset: 0 !important;
    --tag-bg: var(--tag-hover);
}

.user-tag {
    display: inline-flex;
}

.customLook {
    --tag-bg: var(--clr-theme-primary);
    --tag-hover: var(--clr-theme-secondary);
    --tag-text-color: var(--clr-common-white);
    --tags-border-color: var(--clr-theme-primary);
    --tag-border-radius: 25px;
    --tag-text-color--edit: var(--clr-common-black);
    --tag-remove-bg: var(--tag-hover);
    --tag-pad: .6em 1em;
    --tag-inset-shadow-size: 1.35em;
    --tag-remove-btn-bg--hover: var(--clr-common-black);

    display: inline-block;
    min-width: 0;
    border: none;
}

.customLook .tagify__tag {
    margin-top: 0;
}

/* Do not show the "remove tag" (x) button when only a single tag remains */
.customLook .tagify__tag:only-of-type .tagify__tag__removeBtn {
    display: none;
}

.customLook .tagify__tag__removeBtn {
    opacity: 0;
    transform: translateX(-6px) scale(.5);
    margin-left: -3ch;
    transition: .12s;
}

.customLook .tagify__tag:hover .tagify__tag__removeBtn {
    transform: none;
    opacity: 1;
    margin-left: -1ch;
}

.customLook+button {
    color: var(--clr-theme-primary);
    font: bold 1.4em/1.65 Arial;
    border: 0;
    background: none;
    box-shadow: 0 0 0 2px inset currentColor;
    border-radius: 50%;
    width: 1.65em;
    height: 1.65em;
    cursor: pointer;
    outline: none;
    transition: .1s ease-out;
    margin: 0 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customLook .tagify__input {
    display: none;
}

.tagify:hover:not(.tagify--focus):not(.tagify--invalid) {
    --tags-border-color: var(--clr-theme-primary);
}

.tagify--outside {
    border: 0;

    .tagify__input {
        order: -1;
        flex: 100%;
        border: 1px solid var(--tags-border-color);
        margin-bottom: 5px;
        transition: .1s;
        line-height: 28px;
        border-radius: 6px;
    }

    .tagify__input:hover {
        border-color: var(--tags-hover-border-color);
    }

    &.tagify--focus .tagify__input {
        transition: 0s;
        border-color: var(--tags-focus-border-color);
    }
}

.tagify__dropdown.extra-properties .tagify__dropdown__item>img {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    transform: scale(.75);
    margin-right: 5px;
    border-radius: 2px;
    transition: .12s ease-out;
}

.tagify__dropdown.extra-properties .tagify__dropdown__item--active>img,
.tagify__dropdown.extra-properties .tagify__dropdown__item:hover>img {
    transform: none;
    margin-right: 12px;
}

.tagify.countries .tagify__input {
    min-width: 175px;
}

.tagify.countries tag {
    white-space: nowrap;
}

.tagify.countries tag img {
    display: inline-block;
    height: 16px;
    margin-right: 3px;
    border-radius: 2px;
    pointer-events: none;
}

.tagify {
    --tag-pad: 3px 15px !important;
    border-radius: 6px;
    &.form-control {
        padding: 0px 0px;
    }

    &.form__tags {
        --tag-pad: 0.156em 0.5em !important;
    }
}

.tagify__dropdown {
    z-index: 999999 !important;
}

.tagify__email-list {
    display: flex;
    align-items: center;
    gap: 5px;

    .tagify__tag {
        margin: 0;
    }
    .tagify__tag > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        text-align: center;
    }
}

.tagify[disabled]:not(.tagify--mix):not(.tagify--select) .tagify__tag>div::before,
.tagify[readonly]:not(.tagify--mix):not(.tagify--select) .tagify__tag>div::before {
    -webkit-animation: none;
    animation: none;
}
.tagify__input::before {
	color: var(--clr-common-placeholder);
}
.tagify__input::after {
	color: var(--clr-common-placeholder);
}