@use '../utils' as *;

/*----------------------------------------*/
/*  BREAADCRUMB CSS START
/*----------------------------------------*/

/* Breadcrumb style */
.breadcrumb {
	&__main {
		@include flexbox();
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 25px;
	}

	&__wrapper {
		border-bottom: 1px solid var(--clr-border-3);
		padding-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px 0;
	}

	&__menu {
		ul {
			@include inline-flex();
			gap: 30px;
			justify-content: center;

			li {
				list-style: none;
				position: relative;
				line-height: 1;

				&:not(:last-child) {
					&:after {
						display: inline-block;
						content: "/";
						position: absolute;
						inset-inline-end: -18px;
						top: 50%;
						font-family: var(--bd-ff-fontawesome);
						font-size: 14px;
						transform: translateY(-50%) rotateY(40deg);
						color: var(--clr-text-secondary);
					}
				}

				&.active {
					span {
						color: var(--clr-theme-primary);
					}
				}

				span {
					font-size: 16px;
					text-transform: capitalize;
					font-weight: var(--bd-fw-medium);
					color: var(--clr-text-secondary);

					a {
						font-weight: var(--bd-fw-regular);

						&:hover {
							color: var(--clr-theme-primary);
						}
					}
				}
			}
		}
	}

	&__inner {
		@include flexbox();
		align-items: center;
		gap: 10px;
	}

	&__icon {
		i {
			color: var(--clr-text-label);
		}
	}
}

/* Breadcrumb tab */
.breadcrumb-item {
	font-size: 16px;
	&.active {
		color: var(--clr-common-black);
		font-weight: 500;
	}
	a {
		color: var(--clr-theme-primary);
	}
	&::before {
		color: var(--cle-text-muted);
	}
}


.breadcrumb-item+.breadcrumb-item::before {
	content: var(--bs-breadcrumb-divider, "\e95f");
	font-family: 'icomoon' !important;
	color: var(--clr-common-black);
	@include rtl {
		float: right;
		padding-left: var(--bs-breadcrumb-item-padding-x);
		transform: rotate(-180deg);
	}
}
.breadcrumb-item + .breadcrumb-item {
	@include rtl {
		padding-right: var(--bs-breadcrumb-item-padding-x);
	}
}
.breadcrumb-colored {
	padding: 12px 16px;
	border-radius: 4px;
	li{
		&.active {
			color: $white;
			opacity: .7;
			font-weight: 300;

		}
	}
	.breadcrumb-item {
		a {
			color: $white;
		}
		&::before {
			color: rgba($color: $white, $alpha: .85);
		}
	}
}