<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Sign In Cover</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-style-mode" content="1" />
    <!-- Place favicon.ico in the root directory -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.png"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/animate.css" />
    <link rel="stylesheet" href="assets/css/plugins/apexcharts.css" />
    <link
      rel="stylesheet"
      href="assets/css/plugins/jquery-jvectormap-2.0.5.css"
    />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/vendor/icomoon.css" />
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-pro.css" />
    <link rel="stylesheet" href="assets/css/vendor/rating.css" />
    <link rel="stylesheet" href="assets/css/vendor/dropzone.css" />
    <link rel="stylesheet" href="assets/css/plugins/dropify.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/spacing.css" />
    <link rel="stylesheet" href="assets/css/plugins/datatables.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/buttons.bootstrap5.css" />
    <link
      rel="stylesheet"
      href="assets/css/plugins/jquery.dataTables.min.css"
    />
    <link rel="stylesheet" href="assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery.timepicker.css" />
    <link rel="stylesheet" href="assets/css/plugins/tagify.css" />
    <link rel="stylesheet" href="assets/css/plugins/flatpickr.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css" />
    <link rel="stylesheet" href="assets/css/plugins/fullcalendar.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/simplebar.css" />
    <link rel="stylesheet" href="assets/css/plugins/waves.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/nano.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>

  <body class="body-area">
    <!-- Content -->

    <div class="authentication-wrapper cover-authentication">
      <div class="authentication-inner row">
        <!-- Login image -->
        <div class="d-none d-md-flex col-lg-7 col-md-6 p-0">
          <div
            class="authentication-image d-flex justify-content-center align-items-center"
          >
            <img src="assets/images/sign/sign-in.png" alt="image" />
          </div>
        </div>
        <!-- Login image -->

        <!-- Login -->
        <div class="d-flex col-lg-5 col-md-6 col-12 align-items-center">
          <div class="card__wrapper">
            <div class="authentication-top text-center mb-20">
              <a href="javascript:;" class="authentication-logo logo-black">
                <img src="" alt="logo" />
              </a>
              <a href="javascript:;" class="authentication-logo logo-white">
                <img src="" alt="logo" />
              </a>
              <h4 class="mb-15">Welcome to BookMyFlower CRM</h4>
              <p class="mb-15">
                Please sign-in to your account and start the adventure
              </p>
            </div>
            <form id="signin_form" class="" action="index.html">
              <div class="from__input-box">
                <div class="form__input-title">
                  <label for="nameEmail">Email</label>
                </div>
                <div class="form__input">
                  <input
                    class="form-control"
                    name="email"
                    id="nameEmail"
                    type="text"
                    required
                  />
                </div>
              </div>
              <div class="from__input-box">
                <div class="form__input-title d-flex justify-content-between">
                  <label for="passwordInput">Password</label>
                </div>
                <div class="form__input">
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    id="passwordInput"
                    required
                  />
                  <div class="pass-icon" id="passwordToggle">
                    <i class="fa-sharp fa-light fa-eye-slash"></i>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <button class="btn btn-primary w-100" type="submit">
                  Sign in
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- /Login -->
      </div>
    </div>

    <script>
      document.getElementById("signin_form").addEventListener("submit", async function(event) {
    event.preventDefault(); 
    const formData = new FormData(event.target);
    const email = formData.get("email");
    const password = formData.get("password");

    const response = await fetch("/signin", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
       email,
       password
    })
  });

  const data = await response.json();

  if(data?.status_code === 200) {
    localStorage.setItem("user_name", data.user_login);
    window.location.href = "/home"
  }
  else{
    // popup alert
  }
  });
    </script>

    <!-- / Content -->

    <!-- Back to top start -->
    <div class="progress-wrap">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- Back to top end -->

    <!-- JS here -->
    <script src="assets/js/vendor/jquery-3.7.0.js"></script>
    <script src="assets/js/vendor/isotope.pkgd.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendor/magnific-popup.min.js"></script>
    <script src="assets/js/vendor/ajax-form.js"></script>
    <script src="assets/js/vendor/jquery.repeater.js"></script>
    <script src="assets/js/plugins/waypoints.min.js"></script>
    <script src="assets/js/plugins/dayjs.min.js"></script>
    <script src="assets/js/plugins/loader.js"></script>
    <script src="assets/js/plugins/jsvectormap.min.js"></script>
    <script src="assets/js/plugins/world-merc.js"></script>
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/simplebar.min.js"></script>
    <script src="assets/js/plugins/simplebar-active.js"></script>
    <script src="assets/js/plugins/backtotop.js"></script>
    <script src="assets/js/plugins/smooth-scrollbar.js"></script>
    <script src="assets/js/plugins/cleave.min.js"></script>
    <script src="assets/js/plugins/datatables.min.js"></script>
    <script src="assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="assets/js/plugins/dataTables.bootstrap5.min.js"></script>
    <script src="assets/js/plugins/dataTables.buttons.min.js"></script>
    <script src="assets/js/plugins/jszip.min.js"></script>
    <script src="assets/js/plugins/pdfmake.min.js"></script>
    <script src="assets/js/plugins/vfs_fonts.js"></script>
    <script src="assets/js/plugins/buttons.html5.min.js"></script>
    <script src="assets/js/plugins/buttons.print.min.js"></script>
    <script src="assets/js/plugins/buttons.colVis.min.js"></script>
    <script src="assets/js/plugins/steps-form.js"></script>
    <script src="assets/js/plugins/dropify.min.js"></script>
    <script src="assets/js/plugins/dropzone.js"></script>
    <script src="assets/js/plugins/tinymce.min.js"></script>
    <script src="assets/js/plugins/custom.js"></script>
    <script src="assets/js/plugins/typeahead.bundle.min.js"></script>
    <script src="assets/js/plugins/bloodhound.js"></script>
    <script src="assets/js/plugins/select2.full.min.js"></script>
    <script src="assets/js/plugins/jquery.timepicker.min.js"></script>
    <script src="assets/js/plugins/flatpickr.js"></script>
    <script src="assets/js/plugins/tagify.js"></script>
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <script src="assets/js/plugins/sweetalert2.all.min.js"></script>
    <script src="assets/js/plugins/apexcharts.min.js"></script>
    <script src="assets/js/plugins/fullcalendar.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/vendor/custom-tagify.js"></script>
    <script src="assets/js/vendor/height-equal.js"></script>

    <script src="assets/js/vendor/rangeslider-script.js"></script>
    <script src="assets/js/vendor/jquery.barrating.js"></script>
    <script src="assets/js/vendor/rating-script.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vendor/sidebar.js"></script>
  </body>
</html>
