@use '../utils' as *;

/*----------------------------------------*/
/*  select2 CSS START
/*----------------------------------------*/

.select2__dropdown {

	.form-control-primary {
		border-color: var(--clr-theme-primary);
		color: var(--clr-theme-primary);
	}

	.form-control-secondary {
		border-color: var(--clr-theme-secondary);
		color: var(--clr-theme-secondary);
	}

	.form-control-success {
		border-color: var(--clr-action-success);
		color: var(--clr-action-success);
	}

	.form-control-info {
		border-color: var(--clr-action-info);
		color: var(--clr-action-info);
	}

	.form-control-warning {
		border-color: var(--clr-action-warning);
		color: var(--clr-action-warning);
	}

	.form-control-danger {
		border-color: var(--clr-action-danger);
		color: var(--clr-action-danger);
	}
	.form-control-danger {
		border-color: var(--clr-action-link);
		color: var(--clr-action-link);
	}

	.form-control-inverse {
		border-color: var(--clr-common-black);
		color: var(--clr-common-black);
	}

	.form-control-primary-fill {
		background-color: var(--clr-theme-primary);
		color: var(--clr-common-white);
	}

	.form-control-secondary-fill {
		background-color: var(--clr-theme-secondary);
		color: var(--clr-common-white);
	}

	.form-control-success-fill {
		background-color: var(--clr-action-success);
		color: var(--clr-common-white);
	}

	.form-control-info-fill {
		background-color: var(--clr-action-info);
		color: var(--clr-common-white);
	}

	.form-control-warning-fill {
		background-color: var(--clr-action-warning);
		color: var(--clr-common-white);
	}

	.form-control-danger-fill {
		background-color: var(--clr-action-danger);
		color: var(--clr-common-white);
	}
	.form-control-link-fill {
		background-color: var(--clr-action-link);
		color: var(--clr-common-white);
	}

	.form-control-inverse-fill {
		background-color: var(--clr-common-black);
		color: var(--clr-common-white);
	}
}

//colors
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
	cursor: default;
	padding-left: 0;
	padding-right: 5px;
	color: var(--clr-common-white);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	background-color: transparent;
	border: none;
	border-right: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	color: var(--clr-common-white);
	cursor: pointer;
	font-size: 1.5em;
	font-weight: normal;
	padding: 0 4px;
	position: absolute;
	left: 0;
	top: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
	background-color: transparent;
	color: var(--clr-text-label);
	outline: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: var(--clr-theme-primary);
	border: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0;
	padding-left: 20px;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: bottom;
	white-space: nowrap;
}

.select2-container--default .select2-results>.select2-results__options {
	max-height: 200px;
	overflow-y: auto;
}

.select2-container--default .select2-results__options .select2-results__option[aria-selected="true"] {
	background-color: var(--clr-theme-primary) !important;
	color: var(--clr-common-white) !important;
}

.select2-results {
	display: block;
}

.select2-form-label {
	margin-bottom: 5px;
	text-transform: capitalize;
	font-size: 16px;
	text-align: left;
	display: block;
	color: var(--clr-common-medium);
}
.select2 {
	width: 100% !important;
}

.select2-container--default .select2-selection--single {
	background-color: transparent;
	border: 1px solid var(--clr-border-1);
	border-radius: 6px;
}

.select2-container--default .select2-selection--multiple {
	background-color: transparent;
	border: 1px solid var(--clr-border-1);
	border-radius: 6px;
	cursor: text;
	padding-bottom: 5px;
	padding-right: 5px;
	position: relative;
}

.select2-container {
	z-index: 999;
}
.select2-container--open {
	z-index: 9999999;
}
.select2-container .select2-selection--single {
	height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 32px;
	font-size: 16px;
	font-weight: 400;
	color: var(--clr-text-body);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 32px;
	right: 5px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 15px;
	padding-right: 25px;
}

.select2-results__option {
	padding: 0;
	padding-left: 15px;
	padding-right: 25px;
	line-height: 32px;
	font-size: 16px;
	font-weight: 400;
	color: var(--clr-text-body);;
	transition: all .3s linear;
	@include dark {
        color: var(--clr-common-black);
      }
}
.select2-container--default .select2-results__option--selected {
	background-color: var(--clr-theme-primary);
	color: var(--clr-common-white);
	@include dark {
        color: var(--clr-common-black);
      }
}

.select2-container--default .select2-selection--single .select2-selection__rendered span img {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-right: 5px;
  }
  .select2-dropdown {
	background-color: var(--clr-common-white);;
	border: 1px solid var(--clr-border-1);
}